body {
    background-image: url('../images/interlaced.png');
    
    
}




#header {
    background-color: aliceblue;
    background-image: none;
    max-width: 960px;
    
    
}



h1 {
    background-color: slategray;
    padding: 25px 25px 25px 50px;
    width: 15%;
    margin: 20px 30px;
    float: left;
    color: aliceblue;
    

}


#full {
    background-image: url('../images/interlaced.png');
    max-width: 960px;
}


a {
    color: gray;
}

#links {
    float: right;
    margin-top: 40px;
    font-size: 20px;
    color:gray;
   
}

.container {
    background-color: aliceblue;
    margin-top: 20px; 
}

#main-bio {
    clear:both;
    margin-left: 25px;
    
}

h2 {
    color: gray;
    padding-left: 25px;
    font-size: 28px;
    
}

footer {
    margin-left: 25px;
    text-align: center;
    
}