body {
    background-image: url('../images/interlaced.png');
   


}




#header {
    background-color: whitesmoke;
    background-image: none;
    color: whitesmoke;
    height:125px;
    margin-bottom: 0px;
    
    
    
}
    
.header-container: {
    background-color: whitesmoke;
    width: 100%;
    color: aliceblue;
    
}


h1 {
    background-color: slategray;
    padding: 25px 5px 25px 50px;
    padding: 25px 25px 25px 50px;
    width: 140px;
    margin: 2px 30px;
    margin-left: 50px;
    float: left;
    color: aliceblue;
}

a {color: gray;}

#links {
    float: right;
    color: gray;
    font-size: 20px;
    margin-top: 40px;

}



#full {
    
    max-width: 960px;
    
}


 


.container {
    background-color: aliceblue;
    margin-top: 0px; 
    border-color: gray;
    border: solid;
    margin-bottom: 20px;


}



#floatimage {
    float: left;
    width: 30%;
    margin-left: 30px;
    margin-right: 30px;
}


.wrapper {
    width: 70%;
    margin: 0 wrap;
}

#main-bio {
    clear:both;
    margin-left: 25px;
    background-color: aliceblue;
    float: left;
    margin-bottom: 10px;
    

}


h2 {
    color: gray;
    padding-left: 25px;
    font-size: 28px;

}



p {
   line-height: 30px;
   margin-left: 30px;
   width: 130%;
  
   
    
    
    
    
}


#footer {
    
    text-align: center;
    font-size: 10px;
    clear: both;
    margin-top: 30px;
    
     
    

} 


